header {
    width: 100%;
    min-height: 80px;
    background: #282c34;
    display: flex;
    align-items: center;
}

.main__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.logo img {
    height: 50px;
}

.main__container ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.main__container ul li {
    color: #fff;
    opacity: .7;
    font-size: 16px;
    font-weight: 500;
}

.main__container ul li:last-child {
    padding-left: 20px;
}

.main__container ul li i {
    padding-right: 2px;
}

.header__avatar {
    display: flex;
    align-items: center;
}

.header__avatar span:first-child {
    margin-right: 6px;
}


@media screen and (max-width: 768px) {
    .logo img {
        height: 40px;
    }
}